h1{
	height: 400px;
	width: 800px;
	background: red;
	line-height: 400px;
	text-align: center;
}

.bio{	
	text-align: left;
}

.stmts{
    font-size:14px;
    color: black;
}

mark.orange {
    color: orange;
    background: none;
}

mark.blue {
    color:#0000A0;
    background: none;
}
