h1{
	height: 400px;
	width: 800px;
	background: red;
	line-height: 400px;
	text-align: center;
}
p {
    font-size:14px;
    color: black;
    font-weight:bold;
    font-style:italic;
}

mark.orange {
    color: orange;
    background: none;
}

mark.blue {
    color:#0000A0;
    background: none;
}
