h1{
	height: 400px;
	width: 800px;
	background: red;
	line-height: 400px;
	text-align: center;
}

#name{
	color:tan;
	font-weight: bolder;
	font-family: 'Franklin Gothic Medium';
}

.bio{	
	text-align: left;
}

.future{
	text-align: right;
}

.catcheye{
	color: blue;
	font-size: 18px;
	font-weight: bold;
}

.stmts{
	font-size:14px;
	color: black;
}

mark.orange {
    	color:orange;
    	background: none;
}

a:link{
	color: lightskyblue;
}

a:visited{
	color: palevioletred;
}

a:hover{
	color: grey;
}
